@model BlogProject.ViewModel.System.Users.RegisterRequest
@{
    ViewData["Title"] = "Register";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RegistrationForm_v9 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="~/resgister/fonts/linearicons/style.css">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/resgister/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="~/resgister/vendor/date-picker/css/datepicker.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/resgister/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <form asp-action="Register" asp-controller="Account" method="post" class="form-horizontal">
                <h3>Registration Form</h3>
                <div class="control-group">
                    <div class="controls">
                        <label for="">FirstName</label>
                        <input type="text" asp-for="FirstName" placeholder="" class="form-control">
                        <span asp-validation-for="FirstName" class="text-error"></span>
                    </div>
                </div>
                <div class="control-group">
                    @*  <label class="control-label" for="inputLnam">Last name <sup>*</sup></label> *@
                    <div class="controls">
                        <label for="">Last Name</label>
                        <input type="text" asp-for="LastName" placeholder="" class="form-control">
                        <span asp-validation-for="FirstName" class="text-error"></span>
                    </div>
                </div>
                <div class="control-group">
                    @* <label class="control-label" for="input_email">Email <sup>*</sup></label> *@
                    <div class="controls">
                        <label for="">Email</label>
                        <input type="email" asp-for="Email" placeholder="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-error"></span>
                    </div>
                </div>
                <label class="control-label" for="input_email">Giới tính <sup>*</sup></label>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.Gender, new SelectList(new[]
                    {
                    new SelectListItem { Value = "2", Text = "Không" },
                    new SelectListItem { Value = "0", Text = "Nam" },
                    new SelectListItem { Value = "1", Text = "Nữ" }
                    }, "Value", "Text"), "Chọn", new { @class = "form-control" })

                </div>
                <label class="control-label" for="input_email">Ngày sinh <sup>*</sup></label>
                <div class="form-group">
                    <input asp-for="DateOfBir" class="form-control" />
                    <span asp-validation-for="DateOfBir" class="text-danger"></span>
                </div>
                <div class="control-group">

                    <div class="controls">
                        <label for="">UserName</label>
                        <input type="text" asp-for="UserName" placeholder="User Name" class="form-control">
                    </div>
                </div>
                <div class="control-group">

                    <div class="controls">
                        <label for="">Password</label>
                        <input type="password" asp-for="Password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="control-group">

                    <div class="controls">
                        <label for="">Password</label>
                        <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control">
                    </div>
                </div>
                <div class="control-group">

                    <div class="controls">
                        <label for="">PhoneNumber</label>
                        <input type="text" asp-for="PhoneNumber" placeholder="Mobile Phone" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Register </button>
                </div> <!-- form-group// -->

            </form>
        </div>
    </div>

    <script src="~/resgister/js/jquery-3.3.1.min.js"></script>

    <!-- DATE-PICKER -->
    <script src="~/resgister/vendor/date-picker/js/datepicker.js"></script>
    <script src="~/resgister/vendor/date-picker/js/datepicker.en.js"></script>

    <script src="~/resgister/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>