
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.avatar-image {
		width: 200px;
		height: 200px;
		padding: 10px;
		object-fit: cover;
		border-radius:50px;
	}
</style>
<section class="main-content">
	<div class="container-xl">

		<div class="row gy-4">

			<div class="col-lg-8">

				<div class="page-content bordered rounded padding-30">

					<img class="avatar-image" src="/images/hai.png" alt="Katen Doe" class="rounded mb-2" />
					<img class="avatar-image" src="/images/279645976_948126722531859_760454230905092222_n.png" alt="Katen Doe" class="rounded mb-2" />

					<p>Xin chào, chúng tôi tên là Lưu Nguyễn Trung Tín và Phạm thanh Hải và là những người quản lý trang web tin tức này với niềm đam mê với công nghệ và muốn đem những tín tức hữu ích hằng ngày đến cho mọi người.</p>

					<p>Katen là một web tin tức và là dự án nhỏ của chúng tôi. Katen sẽ cam kết đưa những thông tin thiết thực và chính sát nhất đến với những đọc giả. </p>

					<p>Mọi yêu cầu, góp ý, liên hệ làm việc xin liên hệ với chúng tôi: <a href="/home/contact"> Thông tin liên hệ.</a></p>
					

					<hr class="my-4" />
					<ul class="social-icons list-unstyled list-inline mb-0">
						
					</ul>

				</div>

			</div>
			<div class="col-lg-4">

				<!-- sidebar -->
				<div class="sidebar">
					<!-- widget about -->
					<div class="widget rounded">
						<div class="widget-about data-bg-image text-center" data-bg-image="images/map-bg.png">
							<img src="/images/logo.svg" alt="logo" class="mb-2" />
							
							<p class="mb-4">Xin chào, đây là trang tin tức chúng tôi sẽ giúp bạn cập nhật các tin tức một cách sớm và đáng tin cậy nhất. Chúng tôi hy vọng bạn sẽ đến với chúng tôi hằng ngày để cập nhật thêm thông tin.</p>
							<ul class="social-icons list-unstyled list-inline mb-0">
								
							</ul>
						</div>
					</div>

				
					<!-- widget categories -->
					

					<!-- widget newsletter -->
					
			

					<!-- widget advertisement -->
					

					<!-- widget tags -->
					

				</div>

			</div>

		</div>

	</div>
</section>

