﻿﻿@using BlogProject.ViewModel.Catalog.Comments
@model List<CommentVm>

@foreach (var comment in Model)
{
	<li class="comment rounded">
		<div class="thumb">
			<img src="@comment.Avatar" class="avatar-image" />
		</div>
		<div class="details">
			<h4 class="name"><a href="#">@comment.UserName</a></h4>
			<span class="date">@comment.DateTime</span>
			<p>@comment.Content</p>

		</div>
	</li>
}