﻿@using BlogProject.ViewModel.Catalog.Comments
@model CommentVm


	<!-- comment item -->

	
		
			
		
	
	@*<button id="showMoreComments" style="display: block; margin: 0 auto;">Xem thêm bình luận</button>*@

