@model BlogProject.ViewModel.System.Users.ForgotPassRequest

@{
    ViewData["Title"] = "Forgot Password";
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .recovery-form {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 10px;
        }

        input[type="email"] {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        button {
            padding: 10px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            button:hover {
                background-color: #2980b9;
            }
    </style>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="recovery-form">
        <form asp-action="ForgotPass" asp-controller="Login" method="post">
            <label for="email">Nhập email của bạn để lấy lại mật khẩu</label>
            <input type="email" id="email" asp-for="Email" name="email" placeholder="Nhập email">
          
            <button type="submit">Lấy lại mật khẩu</button>
        </form>
    </div>

</body>
</html>